body{
  
   /* background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLWx1a2VzdGFja3Bvb2xlMi1qdW5nbGUtcGF0aC1uei1qai1qb2I1NzEtMi5qcGc.jpg");*/
}
h1{
  color:rgb(11, 100, 16);
  font-size: 70px;

}
#first{
  color:rgb(38, 221, 38) ;
    width: 250px;
    height: 240px;
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLWx1a2VzdGFja3Bvb2xlMi1qdW5nbGUtcGF0aC1uei1qai1qb2I1NzEtMi5qcGc.jpg");
    box-shadow: 7px 6px 12px black;
    border: solid;
    border-radius: 45px;
    border-width: 6px;
    border-color: black;
    padding-top: 9px;
   margin: 20px 0 0 0;

}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button{
  cursor: -webkit-grab; cursor: grab;
  border-radius: 8px;
}
#for{
  font-size: 40px;
  color:red;
}
a{
  color:red;
  text-decoration: none;
  margin-left: 8px;
}
input{
  box-shadow: 5px 6px 5px black;
}
option{
  box-shadow: 8px 6px 5px black;
}
#now{
  height: 40px;
  background-color:black;
  color: aliceblue;
}