body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyIllmWKu1I8Ymi4jxWTNDqpz49lsn2prs2w&s");
}
h1{
    color:red;
    font-size: 70px;
}
p{
    font-size: 30px;
    color:#dc8a0f;
}